body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: "Plus Jakarta Sans", sans-serif;

}

nav {
    width: 100%;
    height: 45px;
    background-color: blue;
    display: flex;

}

li {
    display: inline;
    color: white;
}

li a {
    color: white;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}

ul {
    display: flex;
    gap: 30px;
}

header {
    display: flex;
}

header .left {
    width: 600px;
    background-color: red;
    display: flex;
    padding: 25px;
}

header .right {
    width: 100%;
    background-color: purple;
    color: white;
    display: flex;
    padding: 25px;
    font-size: 150%;
}
header .right h1 span{
    color: yellow;
}
header .left img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: 15% 10%;
}
section#card_1{
    display: flex;
    background-color: rgb(82, 82, 82);
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    font-size: 40px;
    font-weight: bold;
}
article#card_2{
    display: flex;
    flex-direction: column;
    background-color: darkorange;
    padding: 25px;
    gap: 20px;
    font-size: 25px;
    font-weight: normal;
}
article#card_2 #judul{
    background-color: darkgray;
    display: flex;
    padding: 20px;
}
article#card_2 #deskripsi{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
article#card_2 #deskripsi img{
    width: 100px;
}
footer{
    display: flex;
    padding: 25px;
    font-size: 50px;
    font-weight: bold;
    background-color: black;
    color: white;
    justify-content: center;
}